{% extends 'base.html.twig' %}
{% block body %}
    {% if addBook.id is not defined %}
        {% set addBookId = 0 %}
    {%else%}
        {% set addBookId = addBook.id %}
    {% endif %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1>Kindly fill the bellow form </h1>
                <span>(*: field is required)</span>
            </div>
            
            <div id="form">
                <form action="{{ path('_submit_address_book', {id: addBookId}) }}" method="GET" id="form" onsubmit="return validateEmailForm()" >
                    <input type="hidden" id="action" name="action" value="{{action}}">
                    <div id="label"><label for="fname" >First name*:</label></div>                         
                    <input required class="input" type="text" id="fname" name="fname" {%if addBook.fName is defined %}value="{{addBook.fName}}"{% endif %}><br>
                    
                    <div id="label"><label for="lname" id="label">Last name*:</label></div>                
                    <input required class="input" type="text" id="lname" name="lname" {%if addBook.lName is defined %}value="{{addBook.lName}}"{% endif %}><br>
                    
                    <div id="label"><label for="address" id="label">Address*:</label></div>                
                    <input required class="input" type="text" id="address" name="address" {%if addBook.address is defined %}value="{{addBook.address}}"{% endif %}><br>
                    
                    <div id="label"><label for="zCode" id="label">Zip Code*:</label></div>                 
                    <input required class="input" type="text" id="zCode" name="zCode" {%if addBook.zCode is defined %}value="{{addBook.zCode}}"{% endif %}><br>
                    
                    <div id="label"><label for="city" id="label">City*:</label></div>                      
                    <input required class="input" type="text" id="city" name="city" {%if addBook.city is defined %}value="{{addBook.city}}"{% endif %}><br>
                    
                    <div id="label"><label for="country" id="label">Country*:</label></div>                
                    <input required class="input" type="text" id="country" name="country" {%if addBook.country is defined %}value="{{addBook.country}}"{% endif %}><br>
                    
                    <div id="label"><label for="number" id="label">Number*:</label></div>                  
                    <input required class="input" type="text" id="number" name="number" {%if addBook.number is defined %}value="{{addBook.number}}"{% endif %}><br>
                    
                    <div id="label"><label for="birthdate" id="label">Birthdate(mm/dd/yyyy)*:</label></div>  
                    <input required class="input" type="text" id="birthdate" name="birthdate" {%if addBook.birthdate is defined %}value="{{addBook.birthdate|date("m/d/Y")}}"{% endif %}><br>
                    
                    <div id="label"><label for="email" id="label">Email*:</label></div>                    
                    <input required class="input" type="text" id="email" name="email" {%if addBook.email is defined %}value="{{addBook.email}}"{% endif %}><br>
                    
                    <div id="label"><label for="pic" id="label">Picture:</label></div>                     
                    <input class="input" type="text" id="pic" name="pic" {%if addBook.pic is defined %}value="{{addBook.pic}}"{% endif %}><br>
                    
                    <input type="submit" value="Submit" class="submit">
                </form>
            </div>
        </div>    
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/default/addressBookForm.js') }}"></script>
{% endblock %}
{% block stylesheets %}
    <link href="{{ asset('css/default/addressBookForm.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}
