{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1><span>Welcome to address book </h1>
            </div>
            <div id="resultTable">
                <table>
                    <tr id="firstRowTr">
                        <td>First name</td>
                        <td>Last name</td>
                        <td>Street address</td>
                        <td>Zip Code</td>
                        <td>City</td>
                        <td>Country</td>
                        <td>Number</td>
                        <td>Birthdate</td>
                        <td>Email address</td>
                        <td>Actions</td>
                    </tr>
                    {% for addBook in addBooks %}
                        <tr>
                            <td>{{ addBook.fName }}</td>
                            <td>{{ addBook.lName }}</td>
                            <td>{{ addBook.address }}</td>
                            <td>{{ addBook.zCode }}</td>
                            <td>{{ addBook.city }}</td>
                            <td>{{ addBook.country }}</td>
                            <td>{{ addBook.number }}</td>
                            <td>{{ addBook.birthdate|date("m/d/Y") }}</td>
                            <td>{{ addBook.email }}</td>
                            <td><a href="{{ path('_edit_address_book', {id: addBook.id}) }}">edit</a> / <a href="{{ path('_delete_address_book', {id: addBook.id}) }}">delete</a></td>
                        </tr>
                    {% endfor %}
                    
                </table>
            </div>
            <br><br>
            <div id="addNewAddressBook">
                <button type="submit" id="buttonAddNewRecord" onclick="goTo()">Add New Record</button>
            </div>
        </div>    
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/default/addressBookList.js') }}"></script>
{% endblock %}
{% block stylesheets %}
    <link href="{{ asset('css/default/addressBookList.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}
